#display_area{
    padding: 50px;
    width: 350px;
    align-self: center;
    text-align: center;
    background-color: #fff;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-size: 30px;
    font-weight: bolder;
    background-color:rgb(9, 214, 214);
    color: blue;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: orangered;
}

p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: rgb(20, 132, 2);
}